@charset "utf-8";

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  margin: 0px;
  font-family: "Gowun Dodum";

  background-color: rgb(90, 71, 190);
  background-size: cover;
  height: auto;
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-img {
  position: absolute;
  left: 10px;
  border-bottom: 20px;
  height: 100px;
  width: 150px;
  border-radius: 50px;
}

.topmenu {
  display: flex;
  justify-content: right;
  margin-bottom: 0px;

  background-color: rgba(60, 34, 165, 0.823);
  border-radius: 10px;
}

.jbutton {
  margin-right: 20px;

  border-radius: 20px;
  border: none;
  background-color: rgb(196, 174, 255);

  /* padding은 안쪽 margin이 바깥, border는 테두리 */
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-family: "Gowun Dodum";
}

.jbutton:hover {
  background-color: rgb(143, 104, 250);
}

.content {
  text-align: center;
  align-items: center;
}

.myname {
  font-size: 80px;
}

.introduce {
  font-size: 30px;
}
/* ? */

.about {
  font-size: 50px;
}
.aboutme {
  font-size: 20px;
}
