@charset "utf-8";

body {
  background-color: rgb(114, 114, 114);
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.myname {
  font-size: 50px;
  font-family: "Gowun Dodum";
}
