@charset "utf-8";

body {
  background-image: url(https://i.namu.wiki/i/XsVTENU00suRSYjyf88iPIdj59sE96TK4p91_9qcKLmsLi6SoKeCrsyo5ee_1EVSTIu2FZXNQtPIAVKf6Doaig.webp);
  background-repeat: no-repeat;
  background-size: contain;
  height: 8000px;
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-img {
  position: relative;
  border-bottom: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.main-img:active {
}
.main-img:hover {
  animation-duration: 0.5s;
  animation-name: growup;
  animation-fill-mode: forwards;
}
@keyframes growup {
  from {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
  to {
    height: 200px;
    width: 200px;
    border-radius: 50px;
  }
}
.topmenu {
  float: right;

  background-color: rgba(217, 255, 140, 0.823);
  border-radius: 10px;
}

.hyperlink {
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-family: "Gowun Dodum";
  margin-left: auto;
  margin-right: auto;
}

.jbutton {
  position: relative;
  border-radius: 20px;
  border: none;
  background-color: rgb(236, 255, 193);

  /* padding은 안쪽 margin이 바깥, border는 테두리 */
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-family: "Gowun Dodum";
  margin-left: auto;
  margin-right: auto;
}

.jbutton:hover {
  background-color: rgb(147, 159, 120);
}

.maincontent {
  background-color: rgba(22, 20, 20, 0.922);
  border-radius: 5px;
}

.maincontent > div {
  color: white;
}
